@font-face {
    font-family: "CircularSpUIv3T-Book";
    src: url("./12edea040c87dd91d377e1f1382f43c2.eot");
    src: url("./12edea040c87dd91d377e1f1382f43c2.eot?#iefix")format("embedded-opentype"),
        url("./12edea040c87dd91d377e1f1382f43c2.woff")format("woff"),
        url("./12edea040c87dd91d377e1f1382f43c2.woff2")format("woff2"),
        url("./12edea040c87dd91d377e1f1382f43c2.ttf")format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}